#myDiv {
background-image: url(water.jpg);
background-size: 100%; 
background-repeat: no-repeat;
background-color: black;
padding-top: 275px;
width: 700px;
height: 225px;
}

#myP {
margin-left: 225px;
font-family: Arial;
color: white;
font-size: 30px;
text-shadow: 4px 30px 10px #000;
}

#myP2 {
margin-top: -30px;
margin-left: 225px;
font-family: Arial;
color: rgba(179,179,255,.3);
font-size: 30px;
text-shadow: -4px 2px 15px rgba(179,179,255,.5), 2px 2px 8px 
rgba(179,179,255,.2), 2px 2px 8px rgba(179,179,255,.5);
-moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
}	